[package]
name = "fftw-sys"
version = "0.2.0"
authors = ["Toshiki Teramura <toshiki.teramura@gmail.com>"]

description = "unsafe wrapper of FFTW3"
repository = "https://github.com/termoshtt/rust-fftw3"
keywords = ["fftw"]
license = "GPL-2.0"

[features]
default = ["source"]
system = []
source = ["fftw-src"]

[dependencies]
libc = "0.2.21"
num-complex = "0.1.37"

[dependencies.fftw-src]
path = "../fftw-src"
version = "0.2.1"
optional = true
